* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg-image{
  background: url('./images/bts-proof-all-members-concept-photo-2k-wallpaper-uhdpaper.com-281@1@h.jpg') no-repeat center center/cover;
  position: absolute; */
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text{
  font-size: 100px;
  color: #ffffff;
}